/* p{
    text-align: center;
} */

p{
    text-align: center;
}

h1{
    text-align: center;
    text-decoration: red double underline;
    font-weight: bolder;
}

a{
    text-decoration: none;
}

#one{
    font-family: arial;
    font-size: 25px;
    line-height: 30px;
    text-transform: none;
}

#two{
    font-family: 'Segoe UI';
    font-size: 20px;
    line-height: 50px;
    text-transform: lowercase;
}

div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}